/app/__pycache__
/app/infra/db/repo/__pycache__
app/infra/scheduler/__pycache__/loop.cpython-310.pyc
/app/ui/telegram/handlers/__pycache__
/Lib/site-packages
/app/ui/telegram/__pycache__
/app/infra/db/__pycache__
app/ui/telegram/handlers/__pycache__/admin.cpython-310.pyc
app/ui/telegram/__pycache__/main.cpython-310.pyc
app/ui/telegram/middlewares/__pycache__/auth.cpython-310.pyc
/app/ui/telegram/middlewares/__pycache__
/app/ui/telegram/keyboards/__pycache__
/app/ui/telegram/middlewares/__pycache__
app/db/__pycache__/__init__.cpython-310.pyc
*.pyc
/app/infra/db/__pycache__
app/infra/db/__pycache__/connection.cpython-310.pyc
/app/ui/telegram/__pycache__
/app/ui/telegram/handlers/__pycache__
/app/ui/telegram/keyboards/__pycache__
/app/ui/telegram/middlewares/__pycache__
/app/ui/telegram/keyboards/__pycache__
/app/ui/telegram/handlers/__pycache__
/app/ui/telegram/handlers/__pycache__
/app/ui/telegram/__pycache__
/app/infra/db/__pycache__
/Scripts
pyvenv.cfg
.env
